@import '../../../Sass/Variable.scss';
/**
@author:Charan
**/
.TabSwitch {
    top: 19.31px;
    gap: 0px;
    opacity: 0px;
    padding-left: 75px;
    &:hover {
      cursor: pointer;
    }
  
    &__div {
      display: flex;
      gap: 5%;
    }
    
    &__div2 {
      font-family: $lato;
      font-size: 14px;
      font-weight: 600;
      line-height: 16.8px;
      text-align: left;
      position: relative;
      cursor: pointer;
      display: flex;
      gap: 0.5%;
  
      &-active {
        color: #3c3c3c;
        font-weight: 600;
      }
      &-nonactive {
        color: #3c3c3c;
        font-weight: 400;
      }
  
      .underline {
        position: absolute;
        bottom: -3px;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: #ff9600;
      }
    }
    &__filter {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 5%; 
        padding-right: 2%;
        margin-right: 10%; 
      }
      &__right {
        display: flex;

    
      }
      .GridSwitch {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .GridSwitch__div {
        position: relative; 
        // background: #FFFFFF;
        color: black;
        gap: 0px;
        border-radius: 2px 0px 0px 0px;
        border: 1px 0px 0px 0px;
        opacity: 0px;
        rotate: -180deg;
        background-size:cover; 
        background-position-x:center;
    }
    
  .container{
    display: flex;
    justify-content: space-between;
  }
  .formbutton{
    position: relative;
    right:15%;
    button{
      background-color: #336fe3;;
      color: white;
    }
  }
  }
  .LiveProducts{
    display: flex;
    padding-bottom: 10px;
  }
    .LiveProduct__div{
    margin: 10px;
  }
   
  .vl {
    border-left: 2px solid gray;
    margin-top: 2px;
    height: 30px;
  }

  .TabSwitch__right {
    display: flex;

  }
  
  .hr{
    border: 1px solid #C8C8C8;
    height: 0px;
    top: 31px;
    left: 1px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;

  }
  .LiveProducts{

    &__div{
        font-family: $lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        text-align: left;
        
    }
  }
  