/**
@author:Charan
**/
@font-face {
  font-family: 'LatoRegular';
  src:
    url('../assests/fonts/LatoRegular.eot') format('embedded-opentype'),
    url('../assests/fonts/LatoRegular.woff2') format('woff2'),
    url('../assests/fonts/LatoRegular.woff') format('woff'),
    url('../assests/fonts/LatoRegular.ttf') format('truetype'),
    url('../assests/fonts/LatoRegular.svg#LatoRegular') format('svg');
}
@font-face {
    font-family: 'YantramanavRegular';
    
    src: url('../assests/fonts/YantramanavRegular.eot') format('embedded-opentype'),
         url('../assests/fonts/YantramanavRegular.woff2') format('woff2'),
         url('../assests/fonts/YantramanavRegular.woff') format('woff'),
         url('../assests/fonts/YantramanavRegular.ttf') format('truetype'),
         url('../assests/fonts/YantramanavRegular.svg') format('svg');
}
