@font-face {
    font-family: 'LatoBlack';
    src: url('../assests/fonts/LatoBlack.eot');
    src: url('../assests/fonts/LatoBlack.eot') format('embedded-opentype'),
         url('../assests/fonts/LatoBlack.woff2') format('woff2'),
         url('../assests/fonts/LatoBlack.woff') format('woff'),
         url('../assests/fonts/LatoBlack.ttf') format('truetype'),
         url('../assests/fonts/LatoBlack.svg#LatoBlack') format('svg');
}
