@import './Fonts.scss';
@import './Fonts.scss';
$lato: 'LatoRegular';
$borderColor: rgba(200, 200, 200, 1);
$yantra:'YantramanavRegular';
$orange:#FB4E0B;
$grey:#414141;
$blue: #336fe3;
$lightBlue: #3994ff;
$lightGray: #3c3c3c;
$lightOrange: #ff9600;
