@import '../../../Sass/Variable.scss';
.header {
    height:60px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: #336FE3;

  }

  
  .header__logo {
    width: 32.64px;
    height: 23.14px;
    top: 18px;
    left: 9px;
    gap: 0px;
    opacity: 0px;
    padding-left:8px;
    padding-top: 18px;
    padding-right: 18.6px;
  }

  .header__text {
    width: 207px;
    height: 26px;
    top: 17px;
    left: 57px;
    gap: 0px;
    opacity: 0px;
    font-family: $lato;
    font-family: Lato;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    text-align: left;
    padding-left: 15.36px;
    padding-top:17px;
    padding-bottom:17px;

  }
  
  .header__right {
    width: 912px;
    height: 60px;
    left: 368px;
    gap: 0px;
    opacity: 0px;
    background-color: #336FE3;
    border:50%;
    border-top-left-radius: 20%;
    border-bottom-right-radius:20%;
}
  
  .header__bar{
    float:right;
  }

  .icon__notification{
    width: 24px;
    height: 24px;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .icon__question{
    width: 24px;
    height: 24px;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 22.15px;
    
  }

  .icon__userroles{
    width: 22px;
    height: 22px;
    gap: 0px;
    opacity: 0px;    
    padding-top: 19px;
    padding-bottom: 19px;
    padding-right: 40px;
  }